/* article {
    height: 100vh;
    display: grid;
    gap: 2px; */
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    /* align-items: center;
    justify-items: center; */
    
/* } */

/* p {
    background-color: gold;
} */

body, 
html {
    height: 100%;
    font-size: 2rem;
}

header, aside, main, footer {

    /* place content in the center; */

    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    place-items: center;
    /* align-items: center;
    justify-items: center; */

    /* display: flex;
    margin: auto; */
}

header {
    background-color: pink;
    grid-area: my-header;
}

aside {
    background-color: green;
    grid-area: my-aside;
}

main {
    background-color: lightblue;
    grid-area: my-main;
}

footer {
    background-color: red;
    grid-area: my-footer;
}

body {
    display: grid;
    gap: 2px;
}
   

@media (min-width: 1800px){
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 200px;
        /*Defining template 2coloumns 3rows*/
        grid-template-areas: 
            "my-header my-header"
            "my-aside my-main"
            "my-footer my-footer"
        ;
    }

}

 @media (min-width:800px) and (max-width: 1800px) {
    body{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 100px 1fr 200px;
        /* grid-template-areas:
            "my-header my-header my-header"
            "my-aside my-main my-main"
            "my-footer my-footer my-footer"
        ; */

        /* grid-template-areas:
            "- my-header my-header"
            "my-aside my-main my-main"
            "my-footer my-footer my-footer"
        ; */

        grid-template-areas:
            "my-aside my-header my-header"
            "my-aside my-main my-main"
            "my-footer my-main my-main"
        ;
        

    }
 }   

 @media (max-width:800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 2fr 200px;
        grid-template-areas:
            "my-header"
            "my-aside"
            "my-main"
            "my-footer"
        ;

        /* grid-template-areas:
            "my-footer"
            "my-main"
            "my-header"
            "my-aside"              
        ;
         */
    }
 }

